<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="links">
  <%= link_to( image_tag("1_small.jpg"), image_path( "1-big.jpg") ) %>
  <%= link_to( image_tag("2_small.jpg"), image_path( "2-big.jpg") ) %>
  <%= link_to( image_tag("3_small.jpg"), image_path( "3-big.jpg") ) %>
  <%= link_to( image_tag("4_small.jpg"), image_path( "4-big.jpg") ) %>
  <%= link_to( image_tag("5_small.jpg"), image_path( "5-big.jpg") ) %>
  <%= link_to( image_tag("6_small.png"), image_path( "6-big.jpg") ) %>
  <%= link_to( image_tag("7_small.jpg"), image_path( "7-big.jpg") ) %>
  <%= link_to( image_tag("8_small.jpg"), image_path( "8-big.jpg") ) %>
  
</div>