<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<div id="links_gallery">
  <%= link_to( image_tag("gallery/1_small.jpg"), image_path( "gallery/1-big.jpg") ) %>
  <%= link_to( image_tag("gallery/2_small.jpg"), image_path( "gallery/2-big.jpg") ) %>
  <%= link_to( image_tag("gallery/3_small.jpg"), image_path( "gallery/3-big.jpg") ) %>
  <%= link_to( image_tag("gallery/4_small.jpg"), image_path( "gallery/4-big.jpg") ) %>
  <%= link_to( image_tag("gallery/5_small.jpg"), image_path( "gallery/5-big.jpg") ) %>
  <%= link_to( image_tag("gallery/6_small.png"), image_path( "gallery/6-big.jpg") ) %>
  <%= link_to( image_tag("gallery/7_small.jpg"), image_path( "gallery/7-big.jpg") ) %>
  <%= link_to( image_tag("gallery/8_small.jpg"), image_path( "gallery/8-big.jpg") ) %> 
  <%= link_to( image_tag("gallery/9_small.jpg"), image_path( "gallery/9-big.jpg") ) %> 
  <%= link_to( image_tag("gallery/10_small.jpg"), image_path( "gallery/10-big.jpg") ) %> 
</div>

<script>
document.getElementById('links_gallery').onclick = function (event) {
  event = event || window.event;
  var target = event.target || event.srcElement,
    link = target.src ? target.parentNode : target,
    options = {index: link, event: event},
    links = this.getElementsByTagName('a');
  blueimp.Gallery(links, options);
};
</script>