<%= form_for(@monster) do |f| %>
  <% if @monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% @monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 ">
      <div class="field">
        <%= f.label :avatar %><br>
        <%= f.file_field :avatar %>
      </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>  
      <div class="field">
        <%= f.label :element %><br>
        <%= f.select( "element", options_for_select([["Fire"], ["Water"], ["Wind"], ["Dark"], ["Light"]], @monster.element), {include_blank: "Selecione"}) %>
      </div>
      <div class="fiel">
        <%= f.label :star %><br>
        <%= f.select( "star", options_for_select([[1], [2], [3], [4], [5]], @monster.star), {include_blank: "Selecione"}) %>
      </div>
      <div class="field">
        <%= f.label :hp_base %><br>
        <%= f.number_field :hp_base %>
      </div>
      <div class="field">
        <%= f.label :atk_base %><br>
        <%= f.number_field :atk_base %>
      </div>
      <div class="field">
        <%= f.label :def_base %><br>
        <%= f.number_field :def_base %>
      </div>
      <div class="field">
        <%= f.label :vel_base %><br>
        <%= f.number_field :vel_base %>
      </div>
      <div class="field">
        <%= f.label :cr %><br>
        <%= f.number_field :cr %>
      </div>
      <div class="field">
        <%= f.label :cd %><br>
        <%= f.number_field :cd %>
      </div>
      <div class="field">
        <%= f.label :res %><br>
        <%= f.number_field :res %>
      </div>
      <div class="field">
        <%= f.label :acc %><br>
        <%= f.number_field :acc %>
      </div>
      <div class="field">
        <%= f.label :atk_awake %><br>
        <%= f.number_field :atk_awake %>
      </div>
    </div>
  <div class="col-md-6 ">
      <div class="field">
        <%= f.label :def_awake %><br>
        <%= f.number_field :def_awake %>
      </div>
      <div class="field">
        <%= f.label :vel_awake %><br>
        <%= f.number_field :vel_awake %>
      </div>
      <div class="field">
        <%= f.label :cr_awake %><br>
        <%= f.number_field :cr_awake %>
      </div>
      <div class="field">
        <%= f.label :cd_awake %><br>
        <%= f.number_field :cd_awake %>
      </div>
      <div class="field">
        <%= f.label :res_awake %><br>
        <%= f.number_field :res_awake %>
      </div>
      <div class="field">
        <%= f.label :acc_awake %><br>
        <%= f.number_field :acc_awake %>
      </div>
      <div class="field">
        <%= f.label :high_essence_elemental %><br>
        <%= f.number_field :high_essence_elemental %>
      </div>
      <div class="field">
        <%= f.label :mid_essence_elemental %><br>
        <%= f.number_field :mid_essence_elemental %>
      </div>
      <div class="field">
        <%= f.label :low_essence_elemental %><br>
        <%= f.number_field :low_essence_elemental %>
      </div>
      <div class="field">
        <%= f.label :high_essence_magic %><br>
        <%= f.number_field :high_essence_magic %>
      </div>
      <div class="field">
        <%= f.label :mid_essence_magic %><br>
        <%= f.number_field :mid_essence_magic %>
      </div>
      <div class="field">
        <%= f.label :low_essence_magic %><br>
        <%= f.number_field :low_essence_magic %>
      </div>
      <div class="field">
        <%= f.label :runes %><br>
        <%= f.text_field :runes %>
      </div>
    </div>

</div>
  <div class="field">
    <button type="f.submit" class="btn btn-primary"><%= 'Create' %></button>
  </div>
<% end %>
