<h1>Editing Monster</h1>

<%= render 'form' %>

<div class="action">
	<%= link_to @monster do %>
		<button type="button" class="btn btn-primary"><%= 'Show' %></button>
	<% end %>

	<%= link_to monsters_path  do %>
		<button type="button" class="btn btn-primary"><%= 'Back' %></button>
	<% end %>
</div>
