<h1>Editing Monster</h1>
<hr>

<%= render 'form' %>

<hr>
<div class="action">
	<%= link_to @monster, class: 'decoration_button' do %>
		<button type="button" class="btn btn-primary"><%= 'Show' %></button>
	<% end %>

	<%= link_to monsters_path, class: 'decoration_button'  do %>
		<button type="button" class="btn btn-primary"><%= 'Back' %></button>
	<% end %>
</div>
