<p id="notice"><%= notice %></p>

<h1>Listing Monsters</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Element</th>
      <th>Star</th>
      <th>Hp base</th>
      <th>Atk base</th>
      <th>Def base</th>
      <th>Vel base</th>
      <th>Hp awake</th>
      <th>Atk awake</th>
      <th>Def awake</th>
      <th>Vel awake</th>
      <th>Runes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.element %></td>
        <td><%= monster.star %></td>
        <td><%= monster.hp_base %></td>
        <td><%= monster.atk_base %></td>
        <td><%= monster.def_base %></td>
        <td><%= monster.vel_base %></td>
        <td><%= monster.hp_awake %></td>
        <td><%= monster.atk_awake %></td>
        <td><%= monster.def_awake %></td>
        <td><%= monster.vel_awake %></td>
        <td><%= monster.runes %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>