<div id="button_search">
  <%= form_tag monsters_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <button type="submit" value="search" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  <% end %>
</div>

<h1>teste</h1>
<!--<p id="notice"><%= notice %></p>
<% if current_summoner %>
  <%  if current_summoner.email == 'bruno_melo_almeida@hotmail.com' %>
    <div class="button_add">
      <%= button_to new_monster_path, :class => "btn btn-default", :method => :get do %>
        <span class="glyphicon glyphicon-plus"></span> <% end %>
    </div>
  <% end %>
<% end %> -->

<body>
  <% @monsters.each do |monster| %>
    <ul id="monster_grid">
      <%= link_to monster_path(monster) do %>
        <li><%= image_tag monster.avatar.url(:thumb), alt: monster.name %><br>
        <p><%= monster.name %></p></li>
      <% end %>
    </ul>
  <% end %>
</body>

<br><br>
<% if current_summoner %>
  <%  if current_summoner.email == 'bruno_melo_almeida@hotmail.com' %>
    <div class="button_add">
      <%= button_to new_monster_path, :class => "btn btn-default", :method => :get do %>
        <span class="glyphicon glyphicon-plus"></span> <% end %>
    </div>
  <% end %>
<% end %>
