<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-6 col-sm-4 image_mob">
    <%= image_tag @monster.avatar.url(:thumb) %>
    <%= image_tag @monster.avatar_awake.url(:thumb) %>
  </div>

  <div class="col-xs-6 col-sm-4">
    <h2 id="monster_name"><%= @monster.name %></h2>
    <% if @monster.star == 1 %>
      <h2><%= image_tag('icon_star/one_star.png') %></h2>
    <% elsif @monster.star == 2 %>
      <h2><%= image_tag('icon_star/two_star.png') %></h2>
    <% elsif @monster.star == 3 %>
      <h2><%= image_tag('icon_star/three_star.png') %></h2>
    <% elsif @monster.star == 4 %>
      <h2><%= image_tag('icon_star/four_star.png') %></h2>
    <% else %>
      <h2><%= image_tag('icon_star/five_star.png') %></h2>
    <% end %>   
  </div>

  <div class="col-xs-6 col-sm-4" id="element_icon">
    <% if @monster.element == 'Fire' %>
      <h2><%= image_tag('icon_element/Fire_Icon.png') %></h2>
    <% elsif @monster.element == 'Water' %>
      <h2><%= image_tag('icon_element/Water_Icon.png') %></h2>
    <% elsif @monster.element == 'Wind' %>
      <h2><%= image_tag('icon_element/Wind_Icon.png') %></h2>
    <% elsif @monster.element == 'Dark' %>
      <h2><%= image_tag('icon_element/Dark_Icon.png') %></h2>
    <% else %>
      <h2><%= image_tag('icon_element/Light_Icon.png') %></h2>
    <% end %>  
  </div>
</div>

<hr>

<div id="show_monster">
  <div class="row">
    <div class="col-md-6 status_align">
      <p>
        <% if @monster.star == 1 %>
          <strong>Level 15</strong>
        <% elsif @monster.star == 2 %>
          <strong>Level 20</strong>
        <% elsif @monster.star == 3 %>
          <strong>Level 25</strong>
        <% elsif @monster.star == 4 %>
          <strong>Level 30</strong>
        <% else %>
          <strong>Level 35</strong>
        <% end %>
      </p>
      <p>
        <strong>Hp base:</strong>
        <%= @monster.hp_base %>
      </p>


      <p>
        <strong>Atk base:</strong>
        <%= @monster.atk_base %>
      </p>

      <p>
        <strong>Def base:</strong>
        <%= @monster.def_base %>
      </p>

      <p>
        <strong>Vel base:</strong>
        <%= @monster.vel_base %>
      </p>

      <p>
        <strong>Cr base:</strong>
        <%= @monster.cr %>
      </p>

      <p>
        <strong>Cd base:</strong>
        <%= @monster.cd %>
      </p>

      <p>
        <strong>Res base:</strong>
        <%= @monster.res %>
      </p>

      <p>
        <strong>Acc base:</strong>
        <%= @monster.acc %>
      </p>
    </div>

    <div class="col-md-6 status_align"> 
     <p>
        <% if @monster.star == 1 %>
          <strong>Level 20</strong>
        <% elsif @monster.star == 2 %>
          <strong>Level 25</strong>
        <% elsif @monster.star == 3 %>
          <strong>Level 30</strong>
        <% elsif @monster.star == 4 %>
          <strong>Level 35</strong>
        <% else %>
          <strong>Level 40</strong>
        <% end %>
      </p> 
      <p>
        <strong>Hp awake:</strong>
        <%= @monster.hp_awake %>
      </p>

      <p>
        <strong>Atk awake:</strong>
        <%= @monster.atk_awake %>
      </p>

      <p>
        <strong>Def awake:</strong>
        <%= @monster.def_awake %>
      </p>

      <p>
        <strong>Vel awake:</strong>
        <%= @monster.vel_awake %>
      </p>

      <p>
        <strong>Cr awake:</strong>
        <%= @monster.cr_awake %>
      </p>

      <p>
        <strong>Cd awake:</strong>
        <%= @monster.cd_awake %>
      </p>

      <p>
        <strong>Res awake:</strong>
        <%= @monster.res_awake %>
      </p>

      <p>
        <strong>Acc awake:</strong>
        <%= @monster.acc_awake %>
      </p>
    </div>
  </div>

  <hr>
  <div id="informations">
    <% if @monster.high_essence_elemental != 0 %>
      <p>
        <strong>High essence elemental:</strong>
        <%= @monster.high_essence_elemental %>
      </p>
    <% end %>
    <% if @monster.mid_essence_elemental != 0 %>
      <p>
        <strong>Mid essence elemental:</strong>
        <%= @monster.mid_essence_elemental %>
      </p>
    <% end %>
    <% if @monster.low_essence_elemental != 0 %>
      <p>
        <strong>Low essence elemental:</strong>
        <%= @monster.low_essence_elemental %>
      </p>
    <% end %>

    <% if @monster.high_essence_magic != 0 %>
      <p>
        <strong>High essence magic:</strong>
        <%= @monster.high_essence_magic %>
      </p>
    <% end %>

    <% if @monster.mid_essence_magic != 0 %>
      <p>
        <strong>Mid essence magic:</strong>
        <%= @monster.mid_essence_magic %>
      </p>
    <% end %>

    <% if @monster.low_essence_magic != 0 %>
      <p>
        <strong>Low essence magic:</strong>
        <%= @monster.low_essence_magic %>
      </p>
    <% end %>

    <p>
      <strong>Runes:</strong>
      <%= @monster.runes %>
    </p>

  <br>
  <hr>
  <% if current_summoner %>
    <%  if current_summoner.email == 'bruno_melo_almeida@hotmail.com' %>
      <div class="action"> 
        <%= link_to edit_monster_path(@monster), class: 'decoration_button' do %>
          <button type="button" class="btn btn-primary"><%= 'Editar' %></button>
        <% end %>
        <%= link_to @monster, method: :delete, data: { confirm: 'Are you sure?' }, class: 'decoration_button'  do %>
          <button type="button" class="btn btn-primary"><%= 'Excluir' %></button>
        <% end %>
    <% end %>
  <% end %>
        <%= link_to monsters_path, class: 'decoration_button'  do %>
          <button type="button" class="btn btn-primary"><%= 'Back' %></button>
        <% end %>
        <br><br>
        <div class="button_add">
          <%= button_to new_monster_path, :class => "btn btn-default", :method => :get do %>
            <span class="glyphicon glyphicon-plus"></span> <% end %>
        </div>
      </div>
  </div>
</div>