<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :summoner_id %><br>
    <%= f.collection_select(:summoner_id, @summoners, :id, :email, { prompt: true }, { class: 'chosen_my_monster'}) %>
  </div>



  <div class="field">
    <%= f.label :level %><br>
    <%= f.select( "level", options_for_select((1..50).to_a.reverse, @user.level), {include_blank: false}, {class: "form-control"}) %>
  </div>
  <div class="field">
    <button type="f.submit" class="btn btn-primary"><%= 'Create' %></button>
  </div>
<% end %>
