<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-striped pretty" >
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th>User Name</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.user_name %></td>
        <td><%= user.level %></td>
        <td><%= link_to user do %>
          <span class="glyphicon glyphicon-eye-open"></span><% end %> 
        </td>
        <td><%= link_to edit_user_path(user) do %>
          <span class="glyphicon glyphicon-pencil"></span><% end %>
        </td>
        <td><%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove"></span><% end %>
        </td>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>

<% if current_summoner %>
  <%  if current_summoner.email == 'bruno_melo_almeida@hotmail.com' %>
    <%= button_to new_user_path, :class => "btn btn-default", :method => :get do %>
        <span class="glyphicon glyphicon-plus"></span> <% end %>
  <% end %>
<% end %>