<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user.level %>
</p>

<div class="action"> 
  <% if current_summoner.email == 'bruno.melo@example.com' %>
    <%= link_to edit_user_path(@user), class: 'decoration_button' do %>
        <button type="button" class="btn btn-primary"><%= 'Editar' %></button>
    <% end %>
  <% end %>
	<%= link_to users_path, class: 'decoration_button'  do %>
        <button type="button" class="btn btn-primary"><%= 'Back' %></button>
    <% end %>
</div>
