<h1>Editing My Monster</h1>

<%= render 'form' %>

<div class="action">
	<%= link_to @my_monster, class: 'decoration_button' do %>
		<button type="button" class="btn btn-primary"><%= 'Show' %></button>
	<% end %>

	<%= link_to my_monsters_path, class: 'decoration_button'  do %>
		<button type="button" class="btn btn-primary"><%= 'Back' %></button>
	<% end %>
</div>