<p id="notice"><%= notice %></p>

<h1>Listing My Monsters</h1>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Monster</th>
      <th>Level</th>
      <th>Hp</th>
      <th>Atk</th>
      <th>Def</th>
      <th>Vel</th>
      <th>Cr</th>
      <th>Cd</th>
      <th>Res</th>
      <th>Acc</th>
      <th>Awake</th>
      <th>Star</th>
      <th>Runes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @my_monsters.each do |my_monster| %>
      <tr>
        <td><%= my_monster.monster.name %></td>
        <td><%= my_monster.level %></td>
        <td><%= my_monster.hp_total(my_monster.hp_base, my_monster.status_rune_hp) %></td>
        <td><%= my_monster.atk_total(my_monster.atk_base, my_monster.status_rune_atk) %></td>
        <td><%= my_monster.def_total(my_monster.def_base, my_monster.status_rune_def) %></td>
        <td><%= my_monster.vel_total(my_monster.vel_base, my_monster.status_rune_vel) %></td>
        <td><%= my_monster.cr %></td>
        <td><%= my_monster.cd %></td>
        <td><%= my_monster.res %></td>
        <td><%= my_monster.acc %></td>
        <td><%= my_monster.awake %></td>
        <td><%= my_monster.star %></td>
        <td><%= my_monster.runes %></td>
        <td><%= link_to my_monster, class: 'decoration_button' do %>
          <span class="glyphicon glyphicon-eye-open"></span><% end %> 
        </td>
        <td><%= link_to edit_my_monster_path(my_monster), class: 'decoration_button' do %>
          <span class="glyphicon glyphicon-pencil"></span><% end %>
        </td>
        <td><%= link_to my_monster, method: :delete, data: { confirm: 'Are you sure?' }, class: 'decoration_button' do %>
          <span class="glyphicon glyphicon-remove"></span><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="button_add">
  <%= button_to new_my_monster_path, :class => "btn btn-default", :method => :get do %>
    <span class="glyphicon glyphicon-plus"></span> 
  <% end %>
</div>

