<p id="notice"><%= notice %></p>

<h1>Listing My Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Monster</th>
      <th>Summoner</th>
      <th>Level</th>
      <th>Hp base</th>
      <th>Hp rune</th>
      <th>Atk base</th>
      <th>Atk rune</th>
      <th>Def base</th>
      <th>Def rune</th>
      <th>Vel base</th>
      <th>Vel rune</th>
      <th>Cr</th>
      <th>Cd</th>
      <th>Res</th>
      <th>Acc</th>
      <th>Runes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_monsters.each do |my_monster| %>
      <tr>
        <td><%= my_monster.monster_id %></td>
        <td><%= my_monster.summoner_id %></td>
        <td><%= my_monster.level %></td>
        <td><%= my_monster.hp_base %></td>
        <td><%= my_monster.hp_rune %></td>
        <td><%= my_monster.atk_base %></td>
        <td><%= my_monster.atk_rune %></td>
        <td><%= my_monster.def_base %></td>
        <td><%= my_monster.def_rune %></td>
        <td><%= my_monster.vel_base %></td>
        <td><%= my_monster.vel_rune %></td>
        <td><%= my_monster.cr %></td>
        <td><%= my_monster.cd %></td>
        <td><%= my_monster.res %></td>
        <td><%= my_monster.acc %></td>
        <td><%= my_monster.runes %></td>
        <td><%= link_to 'Show', my_monster %></td>
        <td><%= link_to 'Edit', edit_my_monster_path(my_monster) %></td>
        <td><%= link_to 'Destroy', my_monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New My monster', new_my_monster_path %>
