<p id="notice"><%= notice %></p>

<p>
  <strong>Monster:</strong>
  <%= @my_monster.monster %>
</p>

<p>
  <strong>Summoner:</strong>
  <%= @my_monster.summoner_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @my_monster.level %>
</p>

<p>
  <strong>Hp base:</strong>
  <%= @my_monster.hp_base %>
</p>

<p>
  <strong>Hp rune:</strong>
  <%= @my_monster.hp_rune %>
</p>

<p>
  <strong>Atk base:</strong>
  <%= @my_monster.atk_base %>
</p>

<p>
  <strong>Atk rune:</strong>
  <%= @my_monster.atk_rune %>
</p>

<p>
  <strong>Def base:</strong>
  <%= @my_monster.def_base %>
</p>

<p>
  <strong>Def rune:</strong>
  <%= @my_monster.def_rune %>
</p>

<p>
  <strong>Vel base:</strong>
  <%= @my_monster.vel_base %>
</p>

<p>
  <strong>Vel rune:</strong>
  <%= @my_monster.vel_rune %>
</p>

<p>
  <strong>Cr:</strong>
  <%= @my_monster.cr %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @my_monster.cd %>
</p>

<p>
  <strong>Res:</strong>
  <%= @my_monster.res %>
</p>

<p>
  <strong>Acc:</strong>
  <%= @my_monster.acc %>
</p>

<p>
  <strong>Runes:</strong>
  <%= @my_monster.runes %>
</p>

<%= link_to 'Edit', edit_my_monster_path(@my_monster) %> |
<%= link_to 'Back', my_monsters_path %>
