<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-6 col-sm-4" id="image_monster_show">
    <% if @my_monster.awake %>
      <%= image_tag @my_monster.monster.avatar_awake.url(:thumb) %>
    <% else %>
      <%= image_tag @my_monster.monster.avatar.url(:thumb) %>
    <% end %>
  </div>

  <div class="col-xs-6 col-sm-4">
    <h2 id="monster_name"><%= @my_monster.monster.name %></h2>
    <% if @my_monster.awake %>
      <% if @my_monster.star == 1 %>
        <h2><%= image_tag('icon_star/1_purple_star.png') %></h2>
      <% elsif @my_monster.star == 2 %>
        <h2><%= image_tag('icon_star/2_purple_star.png') %></h2>
      <% elsif @my_monster.star == 3 %>
        <h2><%= image_tag('icon_star/3_purple_star.png') %></h2>
      <% elsif @my_monster.star == 4 %>
        <h2><%= image_tag('icon_star/4_purple_star.png') %></h2>
      <% elsif @my_monster.star == 5 %>
        <h2><%= image_tag('icon_star/5_purple_star.png') %></h2>
      <% else %>
        <h2><%= image_tag('icon_star/6_purple_star.png') %></h2>
      <% end %>      
    <% else %>
      <% if @my_monster.star == 1 %>
        <h2><%= image_tag('icon_star/one_star.png') %></h2>
      <% elsif @my_monster.star == 2 %>
        <h2><%= image_tag('icon_star/two_star.png') %></h2>
      <% elsif @my_monster.star == 3 %>
        <h2><%= image_tag('icon_star/three_star.png') %></h2>
      <% elsif @my_monster.star == 4 %>
        <h2><%= image_tag('icon_star/four_star.png') %></h2>
      <% elsif @my_monster.star == 5 %>
        <h2><%= image_tag('icon_star/five_star.png') %></h2>
      <% else %>
        <h2><%= image_tag('icon_star/six_star.png') %></h2>
      <% end %>
    <% end %>
  </div>

  <div class="col-xs-6 col-sm-4" id="element_icon">
    <% if @my_monster.monster.element == 'Fire' %>
      <h2><%= image_tag('icon_element/Fire_Icon.png') %></h2>
    <% elsif @my_monster.monster.element == 'Water' %>
      <h2><%= image_tag('icon_element/Water_Icon.png') %></h2>
    <% elsif @my_monster.monster.element == 'Wind' %>
      <h2><%= image_tag('icon_element/Wind_Icon.png') %></h2>
    <% elsif @my_monster.monster.element == 'Dark' %>
      <h2><%= image_tag('icon_element/Dark_Icon.png') %></h2>
    <% else %>
      <h2><%= image_tag('icon_element/Light_Icon.png') %></h2>
    <% end %>  
  </div>
</div>

<hr>

<div id="show_monster">
  <div class="row">
    <div class="col-md-6 status_align">

      <p>
        <strong>Level:</strong>
        <%= @my_monster.level %>
      </p>

      <p>
        <strong>Hp base:</strong>
        <%= @my_monster.hp_base %>
      </p>

      <p>
        <strong>Hp rune:</strong>
        <%= @my_monster.hp_rune %>
      </p>

      <p>
        <strong>Atk base:</strong>
        <%= @my_monster.atk_base %>
      </p>

      <p>
        <strong>Atk rune:</strong>
        <%= @my_monster.atk_rune %>
      </p>

      <p>
        <strong>Def base:</strong>
        <%= @my_monster.def_base %>
      </p>

      <p>
        <strong>Def rune:</strong>
        <%= @my_monster.def_rune %>
      </p>
    </div>   

    <div class="col-md-6 status_align">  
      <p>
        <strong>Vel base:</strong>
        <%= @my_monster.vel_base %>
      </p>

      <p>
        <strong>Vel rune:</strong>
        <%= @my_monster.vel_rune %>
      </p>

      <p>
        <strong>Cr:</strong>
        <%= @my_monster.cr %>
      </p>

      <p>
        <strong>Cd:</strong>
        <%= @my_monster.cd %>
      </p>

      <p>
        <strong>Res:</strong>
        <%= @my_monster.res %>
      </p>

      <p>
        <strong>Acc:</strong>
        <%= @my_monster.acc %>
      </p>

      <p>
        <strong>Runes:</strong>
        <%= @my_monster.runes %>
      </p>
    </div>
  </div>

  <hr>
  <div id="informations">
    <div class="action"> 
        <%= link_to edit_my_monster_path(@my_monster), class: 'decoration_button'  do %>
          <button type="button" class="btn btn-primary"><%= 'Editar' %></button>
        <% end %>
        <%= link_to @my_monster, method: :delete, data: { confirm: 'Are you sure?' }, class: 'decoration_button'  do %>
          <button type="button" class="btn btn-primary"><%= 'Excluir' %></button>
        <% end %>
        <%= link_to my_monsters_path, class: 'decoration_button'  do %>
          <button type="button" class="btn btn-primary"><%= 'Back' %></button>
        <% end %>
    </div>
  </div>
</div>
