<!DOCTYPE html>
<html>
<head>
  <title>Respaw Guild</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container-fluid">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<h1 class="links_home"><%= link_to ("Respaw Guild"), welcome_index_path, class: 'text_guild' %></h1>
			</div>
			<div  id="menu-logar" class="col-xs-6 col-md-4">
				<ol class="breadcrumb">
					<% if summoner_signed_in? %>
						<li class="links_home"><%= link_to(('Logout'), destroy_summoner_session_path, :method => :delete) %></li>
					<% else %>
						<li class="links_home"><%= link_to ("Sign up"), new_summoner_registration_path %> </li>
						<li class="links_home"><%= link_to ("Sign in"), new_summoner_session_path %> </li>
					<% end %>
				</ol>
			</div>
		</div>
	</div>
	
	<ol class="breadcrumb">
	    <li class="links_telas"><%= link_to ("History Guild"), welcome_index_path %></li>
	    <li class="links_telas"><%= link_to ("Members"), users_path %></li>
	    <li class="links_telas"><%= link_to ("Monsters"), monsters_path %></li>
	    <li class="links_telas"><%= link_to ("Gallery"), welcome_index_path %></li>
	    <li class="links_telas"><%= link_to ("Contact"), welcome_index_path %></li>
	    <% if current_summoner %>
	    	<li class="links_telas"><%= link_to ('My Monsters'), my_monsters_path %></li>
	    <% end %>
    </ol>
    <div class="container">
		<body>
			<%= yield %>
				
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</body>
	</div>
</div>
<div class="footer">
	<p>Designed and built by Bruno Melo de Almeida</p>
</div>
</html>